@page
@model ECommerce.Pages.ShoppingCartPage.ShoppingCartPageModel
@{
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/index.css" style="text/css" />

<div class="text-center shop-header">
    <h1 class="display-4">ShoppingCart</h1>
</div>

<hr class="my-4">