@page
@using ECommerce.Models
@model ECommerce.Pages.ShopPage.ShopPageModel
@{
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/index.css" style="text/css" />


<div class="text-center">
    <h1 class="display-4 shop-header">Our products</h1>
</div>

<hr class="my-4">

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Category
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a> <!-- Need a function to sort the couches by category here-->
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>
<br />
@foreach (Product product in Model.products)
{
    <div class="row mb-4 d-flex justify-content-between align-items-center">
        <div class="col-md-2 col-lg-2 col-xl-2">
            <a asp-page="/ProductPage/Product" asp-route-id="@product.Id"> 
                <img src="~/images/sofa1.png" class="img-fluid rounded-3" alt="@product.Description" />
                <lable> @product.Id</lable>
            </a> <!-- IMAGE -->
        </div>
    </div>
}