@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img class="h-100 w-100 m-0" src="~/images/indexSofa.jpg"/>

<div class="text-center">
    <h1 class="display-4 shop-header">Luxury Furniture</h1>
</div>
<div class="text-center shop-quote">
    <h3>The Art of Lounging: Our Couches, Your Sanctuary</h3>
</div>
<div class="text-center mt-5">
    <br />
    <p>OUR TOP COUCHES</p>
</div>
