@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/index.css" style="text/css"/>




<hr class="my-4">

<div class="card" id="front">    
          <img src="~/images/Frontbild.png" class="card-img-top" alt="...">
          <div class="card-body">
                <h5 class="card-title" >Welcome to our shop </h5>
                <p class="card-text">We offer a wide range of couches for your living room. </p>                
          </div>
</div>               

