@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/index.css" style="text/css"/>

<div class="shop-header">
    <h1 class="display-4 shop-header">Home</h1>
</div>


<hr class="my-4">

<div class="text-center mt-5">
    <br />
    <p>OUR TOP COUCHES</p>
</div>


