:root {
    --peach: #ffc09fff;
    --flax: #ffee93ff;
    --lemon-chiffon: #fcf5c7ff;
    --light-blue: #a0ced9ff;
    --celadon: #adf7b6ff;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.header {
    background-color: aliceblue !important;
}

.navbar-brand {
    font-family: "Arizonia", cursive;
    font-size: 2.1rem;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: linear-gradient(mintcream, var(--lemon-chiffon)); 
}

<!-- SHOPPIG CART COUNT -->

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
    margin-bottom: 50%;
}